.dropdown {
  position: relative;

  &__content-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      right: 10px;
      width: 7px;
      height: 7px;
      transform: matrix(0.71, 0.75, -0.67, 0.71, 0, 0);
      background: var(--bg-color);
      z-index: -1;
    }

    &--open {
      display: block;
    }
  }
}
