.auth {
  &__wrapper {
    justify-self: center;
    display: flex;
    align-items: center;
    margin-top: -50px;
    min-height: 850px;

    @media (max-width: 360px) {
      margin-top: 0;
      min-height: auto;
    }
  }

  &__form {
    background-color: #fff;
    border-radius: 15px;
    max-width: 467px;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 360px) {
      padding: 16px;
      padding-bottom: 80px;
      border-radius: unset;
    }
  }

  &__form-instance {
    > * + * {
      margin-top: 20px;
    }
  }
}
