.label {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 14px;
  position: relative;

  @media (max-width: 360px) {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  &--required {
    &::after {
      content: '*';
      position: absolute;
      top: 0;
      right: -15px;
      color: red;
    }
  }
}
