.label {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 14px;
  position: relative;

  &--required {
    &::after {
      content: '*';
      position: absolute;
      top: 0;
      right: -15px;
      color: red;
    }
  }
}
