.password-field {
  margin-top: 5px;
  float: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: var(--orange-color);
  cursor: pointer;
}
