body {
  margin: 0;
  padding: 0;
  background: var(--grey2-color);
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--black-color);

  & * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
}

:root {
  --black-color: #333;
  --bg-color: linear-gradient(180deg, #34457a 0%, rgba(34, 46, 86, 0.99) 100%);
  --grey2-color: #f3f3f3;
  --inner-bolder-color: #e6e6e6;
}
